<!DOCTYPE html>
<html ng-app="liferolesAuth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
	
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
	
    <!-- 
    
    IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="lib/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/auth.js"></script>
  </head>
  <body ng-controller="authCtrl">



<ion-header-bar class="bar-light" align-title="center">

<span class="authButton" ng-click="setActive(0)" ng-class="{'activeItem' : authActiveItem == 0}">
<h3>Login</h3>
</span>

<span class="authButton" ng-click="setActive(1)" ng-class="{'activeItem' : authActiveItem == 1}">
<h3>Register</h3>
</span>

  		<h1 class="title">Liferoles</h1>
	</ion-header-bar>
	<ion-content>

<div class="list list-inset" ng-show="authActiveItem==0">

<form method="POST" id="login" action="j_security_check">
  <label class="item item-input">
    <input type="email" placeholder="Email" name="j_username" ng-model="data.email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" name="j_password" ng-model="data.password">
  </label>
  <div class="card" ng-hide="data.errMsg == ''">
	<div class="item item-text-wrap">
	<p id="red-text" >{{data.errMsg}}</p>
	</div>
</div>
</form>
  <button ng-click="login()" class="button button-block button-balanced">
	Login
  </button>
  
  <p><a href="" ng-click="showForgotPasswordPopup()">I forgot my password.</a></p>
</div>

<div class="list list-inset" ng-show="authActiveItem==1">
<label class="item item-input">
    <input type="email" placeholder="Email" ng-model="data.email">
  </label>
  <label class="item item-input">
    <input type="email" placeholder="Repeat email" ng-model="data.emailcheck">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-blur="data.passwordStrong=checkPasswordComplexity()" ng-model="data.password">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Repeat password" ng-model="data.passwordcheck">
  </label>
  <div class="item">
  <p>Choose preferred language:</p>
  <img src="img/en.png" width="50px" ng-click="data.language='EN'" ng-class="{'choosed-language' : data.language=='EN'}">
  <img src="img/cz.png" width="50px" ng-click="data.language='CZ'" ng-class="{'choosed-language' : data.language=='CZ'}">
  <img src="img/sk.png" width="50px" ng-click="data.language='SK'" ng-class="{'choosed-language' : data.language=='SK'}">
  </div>
	<div class="card" ng-hide="data.errMsg == ''">
	<div class="item item-text-wrap">
	<p id="red-text" >{{data.errMsg}}</p>
	</div>
</div>
	<div class="card" ng-show="!data.passwordStrong && data.password.length >=6">
  <div class="item item-text-wrap">
    <p id="orange-text">Password is not strong.</p>
	<p>Strong password should be at least 8 characters long and should contain lowercase letter, uppercase letter, number and special character (+-*/?! ...).</p>
  </div>
</div>
	
 <button class="button button-block button-balanced" ng-click="register()">
	Register
  </button>
  </div>
	</ion-content>
	</body>
</html>