	<div style="background-color:#BBBBBB; color:red;" class="temp-message" ng-show="noInternet">No internet connection.</div>
	<ion-content>
	<img src="logoW.png" id="logo" width="70%"/>
<div class="buttons" style="padding: 15px 10px 0px 10px;">
<button class="authButton button" ng-click="setActive(0)" ng-class="{'activeItem' : authActiveItem == 0}">
<h3>Login</h3>
</button>
<button class="authButton button" ng-click="setActive(1)" ng-class="{'activeItem' : authActiveItem == 1}">
<h3>Register</h3>
</button>
</div>
<div class="list list-inset" ng-show="authActiveItem==0">
<form>
  <label class="item item-input">
    <input type="email" placeholder="Email" ng-model="data.email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="data.password">
  </label>
  <div class="card" ng-hide="data.errMsg == ''" style="margin-bottom:5px">
	<div class="item item-text-wrap">
	<p id="red-text" >{{data.errMsg}}</p>
	</div>
</div>
</form>
  <button ng-click="login()" class="button button-block button-balanced">
	Login
  </button>
  <p><a class="button" ng-click="showResetPopover1()">I forgot my password.</a></p>
</div>

<div class="list list-inset" ng-show="authActiveItem==1">
<label class="item item-input">
    <input type="email" placeholder="Email" ng-model="data.email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="data.password">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Repeat password" ng-model="data.passwordcheck">
  </label>
	<div class="card" ng-hide="data.errMsg == ''" style="margin-bottom:5px">
	<div class="item item-text-wrap">
	<p id="red-text" >{{data.errMsg}}</p>
	</div>
</div>
 <button class="button button-block button-balanced" ng-click="register()">
	Register
  </button>
  </div>
	</ion-content>