<ion-popover-view style='height:300px; margin-top:20px;'>
	<ion-content>
		<ion-list>
			<ion-item ng-click='viewData.newFirstDay=0;popover.hide();'>Monday -> Sunday</ion-item>
			<ion-item ng-click='viewData.newFirstDay=1;popover.hide();'>Tuesday -> Monday</ion-item>
			<ion-item ng-click='viewData.newFirstDay=2;popover.hide();'>Wednesday -> Tuesday</ion-item>
			<ion-item ng-click='viewData.newFirstDay=3;popover.hide();'>Thursday -> Wednesday</ion-item>
			<ion-item ng-click='viewData.newFirstDay=4;popover.hide();'>Friday -> Thursday</ion-item>
			<ion-item ng-click='viewData.newFirstDay=5;popover.hide();'>Saturday -> Friday</ion-item>
			<ion-item ng-click='viewData.newFirstDay=6;popover.hide();'>Sunday -> Saturday</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>