
  	<ion-header-bar class="bar-light" align-title="center">
  	<a class="button button-icon icon ion-navicon" ui-sref="menu"></a>
  		<h1 class="title">Personal Mission</h1>
	</ion-header-bar>
	<ion-content>

<div class="card pm-card">
  <div class="item item-divider">
	Personal mission
  </div>
  <div class="item item-text-wrap">
    <textarea onkeyup="textAreaAdjust(this)" placeholder="Write down your personal mission here ..." ng-model="user.personalMission"></textarea>
  </div>
</div>

<div class="card pm-card" ng-repeat="role in roles">
  <div class="item item-divider">
	{{role.name}} goals
  </div>
  <div class="item item-text-wrap">
    <textarea onkeyup="textAreaAdjust(this)" placeholder="Write down goals you want achieve in {{role.name}} role ..." ng-model="role.roleGoal"></textarea>
  </div>
</div>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar-light">
    <!--  
  <div class="buttons">
  <button class="button button-icon ion-leaf green" ui-sref="pm({userId:1})"></button>
	<button class="button button-icon ion-document-text" ui-sref="tasks({userId:1})"></button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons">
  <button class="button button-icon ion-stats-bars" ui-sref="stats"></button>
	<button class="button button-icon ion-information-circled" ui-sref="info"></button>
  </div>
  -->
    </ion-footer-bar>