<ion-popover-view style='height:150px; margin-top:20px; width:90%;'>
	<ion-header-bar align-title="center" class="bar-light">
  		<h1 class="title">Reset password</h1>
	</ion-header-bar>
	<div style="margin-top:44px;">
	<form>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="email" placeholder="Enter your email:" ng-model="data.email">
    </label>
    <button class="button button-small" ng-click="sendResetMail()">
      Submit
    </button>
  </div>
  </form>
<ion-spinner icon="spiral" ng-show="resetData.sendingMail"></ion-spinner>
<p ng-show="resetData.mailSent" style="margin: 0px 17px ! important;">Password reset link was sent to your email. If you can't find it, check your SPAM bin.</p>
<p ng-show="resetData.errMsg != ''" style="color: red;margin: 0px 17px ! important;">{{resetData.errMsg}}</p>
</div>
</ion-popover-view>