
  <ion-header-bar align-title="center" class="bar-light">
  		<h1 class="title">Edit Role</h1>
  		<a class="button icon-left ion-close-circled button-clear button-assertive" ng-click="deleteRole()">Delete</a>
	</ion-header-bar>
	
<ion-content>
<label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" ng-model="role.name">
  </label>
  <div class="card pm-card">
  <div class="item item-divider">
	Role Goals
  </div>
  <div class="item item-text-wrap">
    <textarea onkeyup="textAreaAdjust(this)" placeholder="Write down goals you want achieve in this role ..." ng-model="role.roleGoal"></textarea>
  </div>
</div>
  <button class="button button-light" style="width: 50%" ui-sref="roles">
  Cancel
</button><button class="button button-light" style="width: 50%" ng-click="updateRole()" ui-sref="roles">
  Save
</button>
</ion-content>

 
 