<ion-header-bar align-title="center" class="bar-light">
<a class="button button-icon icon ion-navicon" ng-click="leaveSettings();openMenu()"></a>
  		<h1 class="title">Settings</h1>
<a class="button button-icon ion-power" ng-click="logout()">Logout</a>
</ion-header-bar>
<div style="margin:0 auto; margin-top:44px;" id="popover-beam"></div>
<ion-content>
<div style="margin-left: 15px; margin-top: 10px;">
<h4 style="color:green;">{{viewData.email}}</h4>
<div style="margin-top: 10px;">
<button class="button" ng-click="hidePasswdEdit();emailData.editingEmail=true">Change email</button>
<div ng-show="emailData.editingEmail">
<ion-list>
<label class='item item-input'><input type='password' placeholder='password' ng-model='emailData.password'>
</label><label class='item item-input'><input type='email' placeholder='new email' ng-model='emailData.newEmail'>
</ion-list>
<p style="color: red">{{emailData.errMsg}}</p>
<button class="button" style="width:100px;" ng-click="changeEmail()">OK</button><button class="button" style="width:100px;" ng-click="hideEmailEdit()">Cancel</button>
</div>
</div>

<div style="margin-top: 10px;">
<button class="button" ng-click="hideEmailEdit();passwdData.editingPassword=true">Change Password</button>
<div ng-show="passwdData.editingPassword">
<ion-list>
<label class='item item-input'><input type='password' placeholder='current password' ng-model='passwdData.password'>
</label><label class='item item-input'><input type='password' placeholder='new password' ng-model='passwdData.newPassword'>
</label><label class='item item-input'><input type='password' placeholder='new password again' ng-model='passwdData.newPassword2'></label>
</ion-list>
<p style="color: red">{{passwdData.errMsg}}</p>
<button class="button" style="width:100px;" ng-click="changePassword()">OK</button><button class="button" style="width:100px;" ng-click="hidePasswdEdit()">Cancel</button>
</div>
</div>

<div style="margin-top: 10px;">
<button class="button" ng-click="changeFirstDay($event)">Change week view</button>
<p>Week view should fit your usage, feel free to change it. For example if you are planning your tasks for next week mostly on Sunday, the optimal week view for you is from Monday to Sunday.</p>
</div>
</div>
</ion-content>