<ion-header-bar align-title="center" class="bar-light">
<a class="button button-icon icon ion-navicon" ng-click="openMenu()"></a>
  		<h1 class="title" ng-class="{'animated rotateIn' : animateTitle}">{{label}}</h1>
		<div class="buttons">
  		<a class="button button-icon icon ion-archive" ng-click="moveToBacklog()"></a>
		</div>
	</ion-header-bar>
	<div on-swipe-left="goForward()" on-swipe-right="goPast()">
	<div style="background-color:#BBBBBB; color:red;" class="temp-message" ng-show="noInternet">No internet connection.</div>
	<div class="filter-role" ng-hide="daysMenuActiveItem > -1">
	<div class="input-label">
      Role
    </div>
	<label class="item-input-inset item-select">
	<select ng-options="role as role.name for role in roles track by role.id" ng-model="data.filterRole">
	<option value="" selected>All</option>
	</select>
	</label>
	</div>
	<div id="backlog">
	<ion-item style="margin: 0px 10px; padding: 0px 16px;" ng-class="{'activeItem' : daysMenuActiveItem == -2}" ng-click="setActive(-2)"ng-drop-success="moveTask($data,-2)" ng-drop="daysMenuActiveItem != -2">
  		<h3 style="font-size:44px;"><span class="icon ion-filing"></span></h3>
  		<span class="task-count-label">{{tasksCounts[0].count}}</span>
  	</ion-item>
  	</div>
	<ion-scroll id="days" direction="y">
  <ion-list type="list-inset">
	<ion-item ng-show="label == 'Future'" ng-class="{'activeItem' : daysMenuActiveItem == -1}" ng-click="setActive(-1)">
  		<h3>Future</h3>
		<span class="task-count-label">{{tasksCounts[1].count}}</span> 
  	</ion-item>
  <div ng-hide="label == 'Future'">
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == -1}" ng-click="setActive(-1)">
  		<h3>Week</h3>
  		<span class="task-count-label">{{tasksCounts[1].count}}</span>  
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 0}" ng-click="setActive(0)" ng-drop-success="moveTask($data,0)" ng-drop="daysMenuActiveItem != 0">
  		<h3>{{days[user.firstDayOfWeek]}}</h3>
  		<span class="task-count-label">{{tasksCounts[2].count}}</span>  
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 1}" ng-click="setActive(1)" ng-drop-success="moveTask($data,1)" ng-drop="daysMenuActiveItem != 1">
  		<h3>{{days[(user.firstDayOfWeek+1)%7]}}</h3>
  		<span class="task-count-label">{{tasksCounts[3].count}}</span> 
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 2}" ng-click="setActive(2)" ng-drop-success="moveTask($data,2)" ng-drop="daysMenuActiveItem != 2">
  		<h3>{{days[(user.firstDayOfWeek+2)%7]}}</h3>
  		<span class="task-count-label">{{tasksCounts[4].count}}</span> 
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 3}" ng-click="setActive(3)" ng-drop-success="moveTask($data,3)" ng-drop="daysMenuActiveItem != 3">
  		<h3>{{days[(user.firstDayOfWeek+3)%7]}}</h3>
  		<span class="task-count-label">{{tasksCounts[5].count}}</span>
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 4}" ng-click="setActive(4)" ng-drop-success="moveTask($data,4)" ng-drop="daysMenuActiveItem != 4">
  		<h3>{{days[(user.firstDayOfWeek+4)%7]}}</h3>
  		<span class="task-count-label">{{tasksCounts[6].count}}</span>
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 5}" ng-click="setActive(5)" ng-drop-success="moveTask($data,5)" ng-drop="daysMenuActiveItem != 5">
  		<h3>{{days[(user.firstDayOfWeek+5)%7]}}</h3>
  		<span class="task-count-label">{{tasksCounts[7].count}}</span>
  	</ion-item>
  	<ion-item ng-class="{'activeItem' : daysMenuActiveItem == 6}" ng-click="setActive(6)" ng-drop-success="moveTask($data,6)" ng-drop="daysMenuActiveItem != 6">
  		<h3>{{days[(user.firstDayOfWeek+6)%7]}}</h3>
  		<span class="task-count-label">{{tasksCounts[8].count}}</span>
  	</ion-item>
	</div>
  </ion-list>
</ion-scroll>


<form ng-submit="createNewTask($event)">
<div id="tasks-create" class="item item-input-inset">
<input type="text" placeholder="New task" ng-model="data.newTaskName" ng-disabled="data.inputReadOnly">
</div>
</form>

<ion-scroll direction="y" id="tasks-content"  ng-class="{'animated slideInRight' : animateWeek=='right', 'animated slideInLeft' : animateWeek=='left'}" delegate-handle="tasks">
<div style="position:absolute; width:100%; height:100%">
  <ul class="list list-inset">
  <li class="item item-checkbox item-checkbox-right checkbox-balanced" ng-drag="true" ng-drag-data="task" ng-class="{'task-finished' : task.finished, 'task-dragged' : task.id == dragData.taskId, 'animated zoomOutUp' : task.id == animatedTaskId && task.finished == true, 'animated zoomOutDown' : task.id == animatedTaskId && task.finished != true}"  ng-repeat="task in viewedTasks.tasks | TasksDateFilter:daysMenuActiveItemDate:daysMenuActiveItem:tasksCounts | TasksRoleFilter:data.filterRole | orderBy:tasksOrder track by task.id">
     <label class="checkbox">
       <input type="checkbox" ng-checked="task.finished == true" ng-click="checkTask(task)">
     </label>
     <div ng-click="viewDetails(task)">
     <span ng-class="{'important' : task.important}">{{task.name}}</span>
  	<br>
  	<span class="task-info">{{task.role.name + "&nbsp;"}}</span>
  	<span class="task-info" ng-if="task.date != null">{{task.date.day + "-" + task.date.month + "-" + task.date.year + "&nbsp;"}}</span>
  	<span class="task-info" ng-if="task.time != null">{{task.time.hours + ":" + task.time.minutes}}</span>
     </div>
  </li>
</ul>
</div>
 </ion-scroll>
 
<div ng-drag-clone="" style="width: 70%; opacity:0.1; padding-right: 20px;">
<div class="item item-checkbox item-checkbox-right checkbox-balanced task-dragged" ng-class="{'task-finished' : clonedData.finished}">
     <label class="checkbox">
       <input type="checkbox" ng-model="clonedData.finished">
     </label>
     <div>
     <span ng-class="{'important' : clonedData.important}">{{clonedData.name}}</span>
  	<br>
  	<span class="task-info">{{clonedData.role.name + "&nbsp;"}}</span>
  	<span class="task-info" ng-if="clonedData.date != null">{{clonedData.date.day + "-" + clonedData.date.month + "-" + clonedData.date.year + "&nbsp;"}}</span>
  	<span class="task-info" ng-if="clonedData.time != null">{{clonedData.time.hours + ":" + clonedData.time.minutes}}</span>
     </div>
  </div>
   </div>
 </div>