  <ion-header-bar align-title="center" class="bar-light">
  		<h1 class="title">Task</h1>
  		<a class="button icon-left ion-close-circled button-clear button-assertive" ng-hide="task.id==null" ng-click="deleteTask()" ui-sref="tasks">Delete</a>
	</ion-header-bar>
<ion-content>

<label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" ng-model="task.name">
  </label>
  
  <label class="item item-input item-select">
    <div class="input-label">
      Role
    </div>
    <select ng-model="task.role" ng-options="role as role.name for role in roles track by role.id"></select>
  </label>

  <label class="item item-input" style="padding: 12px;">
Finished
<label class="toggle toggle-balanced" style="right: 0; position: absolute;">
       <input type="checkbox" ng-model="task.finished">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</label>
  
<div ng-controller="dateCtrl" id="dateTime">
  <div>
  <span class="input-label">Date</span>
  <label id="dateLabel"><span ng-if="task.date != null">{{task.date.day + "-" + task.date.month + "-" + task.date.year}}</span></label>
  <button class="button button-icon icon ion-calendar" ng-click="openDatePicker()"></button>
  <br>
  <button class="button button-small" ng-click="clearDate()">Clear date</button>
	</div>
<hr>

<div>
  <span class="input-label">Time</span>
  <label id="timeLabel"><span ng-if="task.time != null">{{task.time.hours + ":" + task.time.minutes}}</span></label>
  <button class="button button-icon icon ion-clock" ng-click="openTimePicker()"></button>
  <br>
  <button class="button button-small" ng-click="clearTime()">Clear time</button>
</div>
</div>

<label class="item item-input" style="padding: 12px;">
Important
<label class="toggle toggle-balanced" style="right: 0; position: absolute;">
       <input type="checkbox" ng-model="task.important">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
</label>
     
<label class="item item-input item-stacked-label">
    <span class="input-label">Note</span>
    <textarea onkeyup="textAreaAdjust(this)" ng-model="task.note"></textarea>
  </label>
  <button class="button button-light" style="width: 50%" ui-sref="tasks">
  Cancel
</button><button class="button button-light" style="width: 50%" ng-click="updateTask()">
  Save
</button>
</ion-content>
 
 