html, body{
	height: 100%;
	width: 100%;
}
h1,h2,h3,h4 {
	color: #444444;
}
em{
	font-style:italic;
}
textarea{
	overflow:hidden;
	width:100%;
	resize: none;
}
input:disabled{
	background-image:url("no-icon.png") !important;
	background-repeat:no-repeat !important;
	background-position: 100% 50% !important;
	background-size:50px !important;
}
hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#logo{
	display:block;
	margin: 0 auto;
}
.spinner svg{
	display:block;
	margin:0 auto;
}
.pm-card .item-divider {
	background-color: #EEEEEE;
	font-size: 19px;
	padding-left: 16px;
}
.pm-card .item-text-wrap textarea{
	background-color: green;
	color: white;
	font-size: 16px;
	height: 21px;
	line-height: 22px;
}
.pm-card .item-text-wrap{
	background-color: green;
}
.stats{
	pointer-events: none;
	border: 1px solid #CCCCCC;
	width:100%;
	margin-bottom:10px;
}
.important{
	color: red !important;
	font-weight: 700;
}
.task-finished, .task-finished textarea{
	background-color: #DDDDDD;
}
.task-dragged{
	background-color: green;
}
.activeItem{
	background-color: green !important;
	color:white !important;
	font-weight: 700;
}
.activeItem > h3, .activeItem > h4{
	color: white;
	font-weight: 700;
}
.meta-inf{
	font-style: italic;
	color: #444444;
}
.task-info{
	font-size: 12px;
	display: inline-block;
	padding-top: 5px;
}
.item-checkbox .checkbox{
  left: initial !important;
}
.task-count-label{
	position:absolute;
	right:2px;
	bottom:2px;
}
[ng-drop].drag-enter {
    background-color: #bbbbbb;
}
#dateTime label{
	padding: 4px;
	font-size: 14px;
	background-color: #F8F8F8;
	display: inline-block;
	height: 30px;
}
#dateTime button{
	position: relative;
	bottom: 10px;
}
#dateLabel{
	width: 85px;
}
#timeLabel{
	width: 45px;
}